#root {
  height: 100%;
}

.sidebar {
  width: 300px;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}


.menu-heading {
  margin: 2px;
  margin-bottom: 11px;
  font-size: 2em;
  line-height: 37px;
}
