<!DOCTYPE html>
<html>
  <head>
    <title>Places Map</title>
    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_pack_tag 'app' %>

  </head>

  <body>
    <div id='root'></div>
  </body>
</html>
